.resume {
    &-experience {
        list-style: none;
        background-color: $main-color-white;
        color: $main-color-black;
        padding: 1rem;
        & > li {
            display: flex;
            position: relative;
            padding-left: 2rem;
            .resume-left {
                flex: 0 0 20%;
                font-size: 1.3rem;
                text-align: right;
                .date {
                    
                }
                .employer {
                  color: #888;
                  font-weight: 400;
                }
            }
            .resume-divider {
                margin: 0 3rem;                
                position: relative;
                text-align: center;
                &__line {
                    position: absolute;
                    background-color: #eeeeee;
                    top: 0;
                    left: 50%;
                    width: 0.1rem;
                    height: 100%;
                    transform: translateX(-50%);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    margin-top: .6rem;
                    left: 50%;
                    width: 1.2rem;
                    height: 1.2rem;
                    transform: translateX(-50%);
                    background-color: white;
                    border: .2rem $main-color-green solid;
                    border-radius: 50%;
                }
            }
            .resume-right {
                flex: 0 0 70%;
                margin-bottom: 2rem;
                .position {
                    & strong {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .link {
            font-size: 1.3rem;
        }
    }
    &__sub {
        background-color: $main-color-white;
        color: $main-color-black;
        padding: 2rem;
    }
    & h4 {
        font-size: 2rem;
        font-family: Oswald, sans-serif;
        margin-bottom: 1rem;
    }
    & p {
        font-size: 1.3rem;
    }
}
